<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration
	xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="CONSOLE"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{yyyy-MM-dd HH:mm:ss:SSS z}] %5p %l: %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<!-- 此处日志文件级别不要变动，即可控制控制台输出文件的内容 -->
			<param name="LevelMin" value="info" />
			<param name="LevelMax" value="error" />
			<param name="AcceptOnMatch" value="false" />
		</filter>
	</appender>

	<logger name="com.yh.infra.svc.gov.platform.baseservice.task">
		<level value="debug" />
	</logger>

	<root>
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>
